<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css">
    
</head>
<body>
    <div class="particles"></div>
    <div class="container">
        <div class="error-code" id="errorCode">404</div>
        <div class="error-illustration"></div>
        <div class="message">Oups ! La page que vous recherchez s'est égarée dans le cyberespace.😜😃</div>
        <a href="/" class="home-button">Retour à l'accueil</a>
    </div>
    <script src="/js/404.js"></script>

    
</body>
</html>