<!DOCTYPE html>
<html>
  <head>
    <title>QR Code Details</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/qrcode-details.css">
  </head>
  <body>
    <div id="details-container" class="details-container">
      <div class="header">
        <a class="back-button" href="javascript:void(0)" onclick="goBack()">Retour</a>
        <h2>Détails du QR Code #<span id="qr-id"></span></h2>
      </div>
    </div>

    <script src="/js/qrcode-details.js"></script>

  </body>
</html>
